<a href="https://colab.research.google.com/github/Chinmayee2442/dsa_codes/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

basics of python

> uasge of print and assinging values to variables

In [ ]:
print("hello world!")

hello world!

In [ ]:
a=19
b=26
c=a+b
print("",c)

 45

In [ ]:
a=8
b=4
print('',a+b)

 12

In [ ]:
name='abcd'
age=20
occupation='student'
college='kletech'
print(name,'\n',age,'\n',occupation,'\n',college)

abcd
 20
 student
 kletech

usage of boolean

In [ ]:
is_online=True
print(is_online)

True

concatenation of string

In [ ]:
name=input("what is ur name? ")
print('hi '+name+'!')

what is ur name? abcd
hi abcd!

In [ ]:
birth_year=input("enter ur birth year ")
print("ur current age is "+ str(2023-int(birth_year)))

enter ur birth year 1999
ur current age is 24

convertion of different variable types

In [ ]:
first=input('number 1 ')
second=input('number 2 ')
print('sum= '+str(float(first)+float(second)))

number 1 26
number 2 19
sum= 45.0

different operations on a string

In [ ]:
cs="learning is fun!"
print(cs.capitalize())
print(cs.find('g'))
print(cs.replace("you've","i've"))
print(cs.swapcase())
print('this' in cs )

Learning is fun!
7
learning is fun!
LEARNING IS FUN!
False

arithmatic operations

In [ ]:
print(10+3)
print(10/3)
print(10//3)
print(10-3)
print(10*3)
print(10**3)

13
3.3333333333333335
3
7
30
1000

logical operations

In [ ]:
price=float(input("price: "))
print(price>100 and price<120)
print(price<60 or price<100)
print(not price>26)

price: 42
False
True
False

if, else if and else

In [ ]:
temp=float(input("enter the temperature: "))
if temp>=35:
  print("its a hot day",'\n','drink plenty of water')
elif temp>=30 and temp<35:
  print('its a bit hot','\n','drink water')
elif temp<30 and temp>=20:
  print("the temperature is ideal",'\n','stay healthy!')
else:
  print("its cold..!!")

enter the temperature: 34
its a bit hot
 drink water

while loop

In [ ]:
i=1
while i<=5:
 print(i)
 i=i+1

1
2
3
4
5

In [ ]:
i=1;
while i<=10:
  print(i*'*')
  i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

arrays

In [ ]:
names=["abcd","efgh","hijk","lmno"]
print(names)
print(names[0],names[-2])
print(names[0:3])
print(names[2:4])
names[1]="wxyz"
print(names)

['abcd', 'efgh', 'hijk', 'lmno']
abcd hijk
['abcd', 'efgh', 'hijk']
['hijk', 'lmno']
['abcd', 'wxyz', 'hijk', 'lmno']

nested loops

In [ ]:
num=int(input("enter the number: "))
i=2
while i<num:
  a=num%i
  if a==0:
    b=0
    break
  else:
    b=1
  i=i+1
if b==0:
   print("the number is not prime\n")
else:
     print("the number is prime\n")

enter the number: 7
the number is prime

factorial of a number

In [ ]:
num=int(input("enter the number: "))
fact=1
for x in range (1,num+1):
  fact=x*fact
print(fact)

enter the number: 6
720